[Unit]
Description=Gunicorn instance to serve myproject
After=network.target

[Service]
User=admin
Group=www-data
WorkingDirectory=/home/admin/myproject
Environment="PATH=/home/admin/venv/bin"
ExecStart=/home/admin/venv/bin/gunicorn --workers 1 --bind unix:myproject.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
